@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'html-body';
@import 'flex';
@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import 'mobile-menu';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik+Moonrocks&family=Roboto&display=swap');

.main {
    padding: 5px;
}

.hidden {
    display: none !important;
}

.active * {
    color: $accent-color !important;
}
