.header {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.site-header {
    display: flex;
}

.nav {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
}

.logo {
    margin-top: 15px;

    img {
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.8));
    }
}

.title h1,
.title a {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
