.header {
    justify-content: space-evenly;
    display: flex;
}

.site-header {
    display: flex;
}

.nav {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
}

.logo {
    margin-top: 15px;
}
