@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'typography';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'html-body';
@import 'main';
@import 'flex';
@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import 'report';
@import 'technology';
@import 'media';
@import 'tables';
@import 'grid';


@import 'mobile-menu';

.hidden {
    display: none !important;
}

.active * {
    color: $accent-color !important;
}

img {
    filter: brightness(1.2);
}

.main {
    background-color: $custom-lighter;
    border-radius: 10px;
    // background-image: repeating-linear-gradient(-26deg, rgba(137, 137, 143, 0.25), rgba(137, 137, 143, 0.25) 2px, transparent 3px, transparent 7px);
    // background-size: 6px 8px;
}
