$font-alternative-color: #c5c5ce;
$font-color: #27272c;
$accent-color: #d76a53;
$background-alternative-color: #27272c;
$background-color: #c5c5ce;

$custom-lighter: #d3d3db;
$custom-medium: #4c4c4f;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
